In [1]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

from jcopml.pipeline import num_pipe, cat_pipe
from jcopml.utils import save_model, load_model
from jcopml.plot import plot_missing_value
from jcopml.feature_importance import mean_score_decrease

In [2]:
df = pd.read_csv("data/taxi_fare.csv", parse_dates=["pickup_datetime"])
df.head()

,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,4.5,2009-06-15 17:26:21,-73.844311,40.721319,-73.841610,40.712278,1.0
1,16.9,2010-01-05 16:52:16,-74.016048,40.711303,-73.979268,40.782004,1.0
2,5.7,2011-08-18 00:35:00,-73.982738,40.761270,-73.991242,40.750562,2.0
3,7.7,2012-04-21 04:30:42,-73.987130,40.733143,-73.991567,40.758092,1.0
4,5.3,2010-03-09 07:51:00,-73.968095,40.768008,-73.956655,40.783762,1.0

In [3]:
pickup_dt = df.pickup_datetime.dt
df['year'] = pickup_dt.year
df['month'] = pickup_dt.month
df['day'] = pickup_dt.dayofweek
df['hour'] = pickup_dt.hour
df.drop(columns=['pickup_datetime'], inplace=True)

df['distance'] = np.abs(df.pickup_longitude - df.dropoff_longitude) + np.abs(df.pickup_latitude - df.dropoff_latitude)
df.drop(columns=['pickup_longitude', 'dropoff_longitude', 'pickup_latitude', 'dropoff_latitude'], inplace=True)

df = df[(df.fare_amount > 0) & (df.distance > 0)]
df.head()

   fare_amount  passenger_count  year  month  day  hour  distance
0          4.5              1.0  2009      6    0    17  0.011742
1         16.9              1.0  2010      1    1    16  0.107481
2          5.7              2.0  2011      8    3     0  0.019212
3          7.7              1.0  2012      4    5     4  0.029386
4          5.3              1.0  2010      3    1     7  0.027194

## Data Splitting

In [4]:
X = df.drop(columns="fare_amount")
y = df.fare_amount

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((14706, 6), (3677, 6), (14706,), (3677,))

## Training

In [5]:
from xgboost import XGBRegressor
from sklearn.model_selection import RandomizedSearchCV
from jcopml.tuning import random_search_params as rsp

In [6]:
preprocessor = ColumnTransformer([
    ('numeric', num_pipe(), ["year", "passenger_count", "distance"]),
    ('categoric', cat_pipe(encoder='onehot'), ["month", "day", "hour"]),
])


pipeline = Pipeline([
    ('prep', preprocessor),
    ('algo', XGBRegressor(n_jobs=-1, random_state=42))
])


model = RandomizedSearchCV(pipeline, rsp.xgb_params, cv=3, n_iter=50, n_jobs=-1, verbose=1, random_state=42)
model.fit(X_train, y_train)

print(model.best_params_)
print(model.score(X_train, y_train), model.best_score_, model.score(X_test, y_test))

Fitting 3 folds for each of 50 candidates, totalling 150 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 6 concurrent workers.
[Parallel(n_jobs=-1)]: Done  38 tasks      | elapsed:    8.6s
[Parallel(n_jobs=-1)]: Done 150 out of 150 | elapsed:   22.8s finished

{'algo__colsample_bytree': 0.6024641082463879, 'algo__gamma': 7, 'algo__learning_rate': 0.04764963542138517, 'algo__max_depth': 3, 'algo__n_estimators': 118, 'algo__reg_alpha': 0.8013508750140631, 'algo__reg_lambda': 3.8765111709116367, 'algo__subsample': 0.7435432121325587}
0.8097827568418641 0.7931631614690957 0.7604351776630229

## Correlation Matrix

Pearson
- linear relationship
- syarat : berdistribusi normal

Spearman
- rank relationship
- syarat : subjek yang berbeda
- contoh : Nilai yang diberikan oleh Guru A vs Guru B
- contoh : Harga saham A vs harga saham B

Kendall
- rank relationship
- syarat : subjek yang sama
- contoh : kondisi nilai quiz vs nilai ujian untuk murid A

In [7]:
from jcopml.plot import plot_correlation_matrix

In [13]:
plot_correlation_matrix(df, 'fare_amount', numeric_col=["year", "passenger_count", "distance"])

interactive(children=(ToggleButtons(description='method', options=('spearman', 'kendall', 'pearson', 'pearson_…

## Masih banyak yang bisa diimprove
Mari kita belajar dari peserta lain di Kaggle
http://www.kaggle.com/breeman/nyc-taxi-fare-data-exploration
- ternyata ada data yang salah (terletak di air)
- Analysis lokasi penjemputan, apakah di landmark tertentu seperti di airport
- dll